<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="crelle.family.mapper.BiologyPlantVOMapper">

    <resultMap id="BaseResultMap" type="crelle.family.model.vo.BiologyPlantVO">
<!--        <id column="id" property="id" jdbcType="INTEGER"/>-->
<!--        <result column="url" property="url" jdbcType="VARCHAR"/>-->
<!--        <result column="path" property="path" jdbcType="VARCHAR"/>-->
<!--        <result column="component" property="component" jdbcType="VARCHAR"/>-->
<!--        <result column="name" property="name" jdbcType="VARCHAR"/>-->
<!--        <result column="iconCls" property="iconCls" jdbcType="BIT"/>-->
<!--        <result column="keepAlive" property="keepAlive" jdbcType="VARCHAR"/>-->
<!--        <result column="requireAuth" property="requireAuth" jdbcType="VARCHAR"/>-->
<!--        <result column="parentId" property="parentId" jdbcType="VARCHAR"/>-->
<!--        <result column="enabled" property="enabled" jdbcType="VARCHAR"/>-->
    </resultMap>

    <select id="queryMenuByRoleId" resultMap="BaseResultMap">
    select m.*,r.`id` as rid,r.`name` as rname,r.`nameZh` as rnameZh from menu m,menu_role mr,role r where m.`id`=mr.`mid` and mr.`rid`=r.`id` order by m.`id`
  </select>

</mapper>