<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="crelle.family.mapper.MediaResourcesMapper">

    <resultMap id="BaseResultMap" type="crelle.family.model.entity.MediaResources">
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="plantId" property="plant_id" jdbcType="INTEGER"/>
        <result column="personId" property="person_id" jdbcType="INTEGER"/>
        <result column="poetryId" property="poetry_id" jdbcType="INTEGER"/>
        <result column="userId" property="user_id" jdbcType="INTEGER"/>
        <result column="mediaUrl" property="media_url" jdbcType="VARCHAR"/>
        <result column="mediaType" property="media_type" jdbcType="VARCHAR"/>
        <result column="mediaSecType" property="media_sec_type" jdbcType="VARCHAR"/>
        <result column="mediaDesc" property="media_desc" jdbcType="VARCHAR"/>
        <result column="mediaDefault" property="media_default" jdbcType="BIT"/>

    </resultMap>

    <insert id="insertMediaResources" parameterType="crelle.family.model.entity.MediaResources" useGeneratedKeys="true"
            keyProperty="id">
        insert into media_resources
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="plantId != null">
                plant_id,
            </if>
            <if test="personId != null">
                person_id,
            </if>
            <if test="poetryId != null">
                poetry_id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="mediaUrl != null">
                media_url,
            </if>
            <if test="mediaType != null">
                media_type,
            </if>
            <if test="mediaSecType != null">
                media_sec_type,
            </if>
            <if test="mediaDefault != null">
                media_default,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="plantId != null">
                #{plantId,jdbcType=INTEGER},
            </if>
            <if test="personId != null">
                #{personId,jdbcType=INTEGER},
            </if>
            <if test="poetryId != null">
                #{poetryId,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="mediaUrl != null">
                #{mediaUrl,jdbcType=VARCHAR},
            </if>
            <if test="mediaType != null">
                #{mediaType,jdbcType=VARCHAR},
            </if>
            <if test="mediaSecType != null">
                #{mediaSecType,jdbcType=VARCHAR},
            </if>
            <if test="mediaDesc != null">
                #{mediaDesc,jdbcType=VARCHAR},
            </if>
            <if test="mediaDefault != null">
                #{mediaDefault,jdbcType=BIT},
            </if>
        </trim>
    </insert>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from media_resources
    where id = #{id,jdbcType=INTEGER}
   </delete>

    <delete id="deleteById" parameterType="crelle.family.model.ao.MediaResourcesAO">
        delete from media_resources
        <where>
            <if test="mr!=null">
                <if test="mr.plantId !=null">
                    and mr.plant_id =#{mr.plantId}
                </if>
                <if test="mr.personId !=null">
                    and mr.person_id =#{mr.personId}
                </if>
                <if test="mr.poetryId !=null">
                    and mr.poetry_id =#{mr.poetryId}
                </if>
                <if test="mr.userId !=null">
                    and mr.user_id =#{mr.userId}
                </if>
            </if>
        </where>
    </delete>

    <update id="updateMediaResourcesById" parameterType="crelle.family.model.entity.MediaResources">
        update media_resources
        <set>
        <if test="id != null">
            id,
        </if>
        <if test="plantId != null">
            plant_id,
        </if>
        <if test="personId != null">
            person_id,
        </if>
        <if test="poetryId != null">
            poetry_id,
        </if>
        <if test="userId != null">
            user_id,
        </if>
        <if test="mediaUrl != null">
            media_url,
        </if>
        <if test="mediaType != null">
            media_type,
        </if>
        <if test="mediaSecType != null">
            media_sec_type,
        </if>
        <if test="mediaDefault != null">
            media_default,
        </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>


    <select id="queryMediaResourcesById" resultMap="BaseResultMap">
        SELECT
        mr.id 'id',
        mr.media_default 'mediaDefault',
        mr.media_desc 'mediaDesc',
        mr.media_sec_type 'mediaSecType',
        mr.media_type 'mediaType',
        mr.media_url 'mediaUrl',
        mr.person_id 'personId',
        mr.plant_id 'plantId',
        mr.poetry_id 'poetryId',
        mr.user_id 'userId'
        FROM
        media_resources mr
        <where>
            <if test="mr!=null">
                <if test="mr.plantId !=null">
                    and mr.plant_id =#{mr.plantId}
                </if>
                <if test="mr.personId !=null">
                    and mr.person_id =#{mr.personId}
                </if>
                <if test="mr.poetryId !=null">
                    and mr.poetry_id =#{mr.poetryId}
                </if>
                <if test="mr.userId !=null">
                    and mr.user_id =#{mr.userId}
                </if>
            </if>
        </where>
    </select>


</mapper>