<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="baseline.app.mapper.ContactPersonMapper">

    <select id="manualPage" resultType="baseline.app.pojo.vo.ContactPersonVo">
        SELECT
        a.Interface_id,
        a.Interface_name,
        a.gender,
        a.cell_phone,
        a.email,
        a.customer_id,
        a.update_time,
        b.customer_name
        FROM
        t_contact_person a
        LEFT JOIN
        t_customer b ON a.customer_id = b.customer_id
        <where>
            <if test="param.interfaceName!=null and param.interfaceName!=''">
                and a.Interface_name like concat('%',concat(#{param.interfaceName},'%'))
            </if>
            <if test="param.customerName!=null and param.customerName!=''">
                AND b.customer_name = #{param.customerName}
            </if>
        </where>
        order by a.update_time desc
    </select>
</mapper>
