<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="baseline.app.mapper.ContactPersonMapper">

    <select id="manualPage" resultType="baseline.app.pojo.vo.ContactPersonVo">
        SELECT
        a.id,
        a.name,
        a.gender,
        a.cell_phone as cellPhone,
        a.email,
        a.customer_id as customerId,
        a.update_time as updateTime,
        b.name as customerName
        FROM
        t_contact_person a
        LEFT JOIN
        t_customer b ON a.customer_id = b.id
        <where>
            <if test="param.name!=null and param.name!=''">
                and a.name like concat('%',concat(#{param.name},'%'))
            </if>
            <if test="param.customerName!=null and param.customerName!=''">
                AND b.name = #{param.customerName}
            </if>
        </where>
        order by a.update_time desc
    </select>
</mapper>
