<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="baseline.app.mapper.CustomerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="baseline.app.pojo.entity.Customer">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="region_id" property="regionId"/>
        <result column="address" property="address"/>
        <result column="user_id" property="userId"/>
        <result column="cell_phone" property="cellPhone"/>
        <result column="email" property="email"/>
        <result column="introduce" property="introduce"/>
        <result column="create_time" property="createTime"/>
        <result column="create_by" property="createBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="enabled" property="enabled"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        , name, region_id, address, user_id, cell_phone, email, introduce, create_time, create_by, update_time, update_by, enabled
    </sql>

    <select id="manualPage" resultType="baseline.app.pojo.vo.CustomerVo">
        SELECT
        a.id,
        a.name,
        a.address,
        a.user_id AS userId,
        c.user_nick_name AS userName,
        a.cell_phone AS cellPhone,
        a.email,
        b.name AS regionName,
        b.id as regionId
        FROM
        t_customer a
        left join
        t_region b
        on a.region_id = b.id
        LEFT JOIN
        t_user c ON c.id = a.user_id
        <where>
            <if test="param.name!=null and param.name!=''">
                and a.name like concat('%',concat(#{param.name},'%'))
            </if>
            <if test="param.regionId!=null and param.regionId!=''">
                AND b.id = #{param.regionId}
            </if>
            <if test="param.userId!=null and param.userId!=''">
                AND c.id = #{param.userId}
            </if>
        </where>
        order by a.update_time
    </select>
    <select id="queryByRegionId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_customer
        where
        region_id = #{regionId,jdbcType=VARCHAR}
    </select>
    <select id="queryProjectById" resultType="baseline.app.pojo.vo.ProjectVo">
        SELECT
        tproject.id,
        tproject.name,
        tproject.status,
        (SELECT
        COUNT(1)
        FROM
        t_employee
        WHERE
        t_employee.id = tproject.id) AS employeeNum,
        tdepartment.id AS departmentId,
        tdepartment.name AS departmentName,
        tcp.id AS interfaceId,
        tcp.name AS interfaceName
        FROM
        t_project tproject
        INNER JOIN
        t_department tdepartment ON tdepartment.id = tproject.department_id
        INNER JOIN
        t_contact_person_project tcpp ON tproject.id = tcpp.project_id
        INNER JOIN
        t_contact_person tcp ON tcp.id = tcpp.contact_person_id
        INNER JOIN
        t_customer tcustomer ON tcustomer.id = tcp.customer_id
        <where>
            <if test="param.id!=null and param.id!=''">
                and tcustomer.id = #{param.id}
            </if>
        </where>
    </select>
</mapper>
