<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="baseline.app.mapper.CustomerMapper">

    <select id="manualPage" resultType="baseline.app.pojo.vo.CustomerVo">
        SELECT
        a.id,
        a.name,
        a.address,
        a.user_id AS userId,
        c.user_nick_name AS userName,
        a.cell_phone AS cellPhone,
        a.email,
        b.name AS regionName,
        b.id as regionId
        FROM
        t_customer a
        left join
        t_region b
        on a.region_id = b.id
        LEFT JOIN
        t_user c ON c.id = a.user_id
        <where>
            <if test="param.name!=null and param.name!=''">
                and a.name like concat('%',concat(#{param.name},'%'))
            </if>
            <if test="param.regionId!=null and param.regionId!=''">
                AND b.id = #{param.regionId}
            </if>
            <if test="param.userId!=null and param.userId!=''">
                AND c.id = #{param.userId}
            </if>
        </where>
        order by a.update_time
    </select>
</mapper>
