<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="baseline.app.mapper.DepartmentMapper">


    <select id="manualPage" resultType="baseline.app.pojo.vo.DepartmentVo">
        SELECT
        department1.id,
        department1.name,
        department1.user_Id as userId,
        department1.address,
        department1.update_time as updateTime,
        department2.name as  department_up
        FROM
        t_department department1,
        t_department department2
        <where>
            department1.id = department2.id
            AND department1.department_up = department2.id
            <if test="param.name!=null and param.name!=''">
                AND department1.name like concat('%',concat(#{param.name},'%'))
            </if>
        </where>
        order by department1.update_time
    </select>

</mapper>
