<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="baseline.app.mapper.PostMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="baseline.app.pojo.entity.Post">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="position" property="position"/>
        <result column="requirements" property="requirements"/>
        <result column="skill" property="skill"/>
        <result column="project_id" property="projectId"/>
        <result column="customer_id" property="customerId"/>
        <result column="number" property="number"/>
        <result column="date" property="date"/>
        <result column="address" property="address"/>
        <result column="latest_arrival_time" property="latestArrivalTime"/>
        <result column="create_time" property="createTime"/>
        <result column="create_by" property="createBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="enabled" property="enabled"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        , name, position, requirements, skill, project_id, customer_id, number, date, address, latest_arrival_time, create_time, create_by, update_time, update_by, enabled
    </sql>

    <select id="manualPage" resultType="baseline.app.pojo.vo.PostVo">
        SELECT
        post.id,
        post.name,
        post.skill,
        post.address,
        post.number,
        post.date,
        post.position,
        post.requirements,
        post.update_time as updateTime,
        post.latest_arrival_time as latestArrivalTime,
        proj.id as projectId,
        proj.name as projectName,
        cust.id as customerId,
        cust.name as customerName
        FROM
        t_post post
        LEFT JOIN t_project proj ON post.project_id = proj.id
        left join t_customer cust on post.customer_id = cust.id
        <where>
            <if test="param.name!=null and param.name!=''">
                and post.name like concat('%',concat(#{param.name},'%'))
            </if>
            <if test="param.projectName!=null and param.projectName!=''">
                and proj.name = #{param.projectName}
            </if>
            <if test="param.address!=null and param.address!=''">
                and post.address = #{param.address}
            </if>
            <if test="param.skill!=null and param.skill!=''">
                and post.skill = #{param.skill}
            </if>
        </where>
        order by post.update_time desc
    </select>
    <select id="queryByProjectId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_post
        where
        project_id = #{projectId,jdbcType=VARCHAR}
    </select>
    <select id="queryByCustomerId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_post
        where
        customer_id = #{customerId,jdbcType=VARCHAR}
    </select>

</mapper>
