<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="baseline.app.mapper.PostMapper">

    <select id="manualPage" resultType="baseline.app.pojo.vo.PostVo">
        SELECT
        post.id,
        post.name,
        post.skill,
        post.address,
        post.number,
        post.date,
        post.position,
        post.requirements,
        post.update_time as updateTime,
        proj.id as projectId,
        proj.name as projectName,
        cust.id as customerId,
        cust.name as customerName
        FROM
        t_post post
        LEFT JOIN t_project proj ON post.project_id = proj.id
        left join t_customer cust on post.customer_id = cust.id
        <where>
            <if test="param.name!=null and param.name!=''">
                and post.name like concat('%',concat(#{param.name},'%'))
            </if>
            <if test="param.projectName!=null and param.projectName!=''">
                and proj.name = #{param.projectName}
            </if>
            <if test="param.address!=null and param.address!=''">
                and post.address = #{param.address}
            </if>
            <if test="param.skill!=null and param.skill!=''">
                and post.skill = #{param.skill}
            </if>
        </where>
        order by post.update_time desc
    </select>

</mapper>
