<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="baseline.app.mapper.ProjectMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="baseline.app.pojo.entity.Project">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="time" property="time"/>
        <result column="status" property="status"/>
        <result column="department_id" property="departmentId"/>
        <result column="cooperation" property="cooperation"/>
        <result column="introduce" property="introduce"/>
        <result column="region_id" property="regionId"/>
        <result column="create_time" property="createTime"/>
        <result column="create_by" property="createBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="enabled" property="enabled"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        , name, time, status, department_id, cooperation, introduce, region_id, create_time, create_by, update_time, update_by, enabled
    </sql>

    <resultMap id="projectVoMap" type="baseline.app.pojo.vo.ProjectVo">
        <id property="id" column="id"></id>
        <result property="name" column="name"></result>
        <result property="status" column="status"></result>
        <result property="cooperation" column="cooperation"></result>
        <result property="customerId" column="customer_id"></result>
        <result property="customerName" column="customer_name"></result>
        <result property="departmentId" column="department_id"></result>
        <result property="departmentName" column="department_name"></result>
        <result property="regionId" column="region_id"></result>
        <result property="regionName" column="region_name"></result>
        <result property="time" column="time"></result>
        <collection property="contactPeoples" ofType="baseline.app.pojo.entity.ContactPerson">
            <result property="id" column="interface_id"></result>
            <result property="name" column="interface_name"></result>
            <result property="cellPhone" column="cell_phone"></result>
            <result property="email" column="email"></result>
        </collection>

    </resultMap>

    <select id="manualPage" resultMap="projectVoMap">
        SELECT
        a.`id`,
        a.`name`,
        a.time,
        a.status,
        a.cooperation,
        c.`id` as interface_id,
        c.`name` as interface_name,
        c.`cell_phone`,
        c.`email`,
        d.`id` as customer_id,
        d.`name` as customer_name,
        e.`id` as department_id,
        e.`name` as department_name,
        b.`id` as region_id,
        b.`name` as region_name
        FROM
        t_project a
        LEFT JOIN t_contact_person_project tpp
        ON tpp.project_id = a.id
        left join t_contact_person c
        on c.id = tpp.contact_person_id
        LEFT JOIN t_region b
        ON a.region_id = b.id
        LEFT JOIN t_customer d
        ON c.customer_id = d.id
        LEFT JOIN t_department e
        ON a.department_id = e.id
        <where>
            <if test="param.name!=null and param.name!=''">
                and a.name like concat('%',concat(#{param.name},'%'))
            </if>
            <if test="param.status!=null and param.status!=''">
                and a.status = #{param.status}
            </if>
            <if test="param.regionName!=null and param.regionName!=''">
                and b.name = #{param.regionName}
            </if>
            <if test="param.departmentName!=null and param.departmentName!=''">
                and e.name = #{param.departmentName}
            </if>
            <if test="param.contactPeoples!=null and param.contactPeoples.size()!=0">
                and c.id in
                <foreach item="item" index="index" collection="param.contactPeoples" open="(" separator="," close=")">
                    #{item.id}
                </foreach>
            </if>
            <if test="param.customerName!=null and param.customerName!=''">
                and d.name = #{param.customerName}
            </if>
        </where>
    </select>
    <select id="queryByRegionId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_project
        where
        region_id = #{regionId,jdbcType=VARCHAR}
    </select>
    <select id="queryByDepartmentId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_project
        where
        department_id = #{departmentId,jdbcType=VARCHAR}
    </select>
</mapper>
