<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="baseline.app.mapper.ReportFormMapper">


    <select id="departmentAnalysis" resultType="baseline.app.pojo.vo.reportform.DepartmentAnalysisVO">

    </select>

    <select id="projectGapAnalysis" resultType="baseline.app.pojo.vo.reportform.ProjectGapAnalysisVO">

    </select>

    <select id="projectNumberAnalysis" resultType="baseline.app.pojo.vo.reportform.ProjectNumberAnalysisVO">

    </select>

    <select id="regionAnalysis" resultType="baseline.app.pojo.vo.reportform.RegionAnalysisVO">

    </select>

    <select id="skillAnalysis" resultType="baseline.app.pojo.vo.reportform.SkillAnalysisVO">

    </select>

</mapper>
