<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="baseline.app.mapper.ReportFormMapper">

    <resultMap id="employeeMap" type="baseline.app.pojo.dto.reportform.EmployeeAnalysisDto">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="gender" property="gender"/>
        <result column="age" property="age"/>
        <result column="birthday" property="birthday"/>
        <result column="cell_phone" property="cellPhone"/>
        <result column="email" property="email"/>
        <result column="registered_residence" property="registeredResidence"/>
        <result column="residence" property="residence"/>
        <result column="school" property="school"/>
        <result column="school_time" property="schoolTime"/>
        <result column="working_hours" property="workingHours"/>
        <result column="marriage" property="marriage"/>
        <result column="child" property="child"/>
        <result column="skill" property="skill"/>
        <result column="job_no" property="jobNo"/>
        <result column="time" property="time"/>
        <result column="project_id" property="projectId"/>
        <result column="post_id" property="postId"/>
        <result column="t_p_project_id" property="tPProjectId"/>
        <result column="native_address" property="nativeAddress"/>
        <result column="longitude" property="longitude"/>
        <result column="latitude" property="latitude"/>
    </resultMap>

    <select id="departmentAnalysis" resultType="baseline.app.pojo.vo.reportform.DepartmentAnalysisVO">

    </select>

    <select id="projectGapAnalysis" resultType="baseline.app.pojo.vo.reportform.ProjectGapAnalysisVO">

    </select>

    <select id="projectNumberAnalysis" resultType="baseline.app.pojo.vo.reportform.ProjectNumberAnalysisVO">

    </select>

    <select id="regionAnalysis" resultType="baseline.app.pojo.vo.reportform.RegionAnalysisVO">

    </select>

    <select id="skillAnalysis" resultType="baseline.app.pojo.vo.reportform.SkillAnalysisVO">

    </select>

    <select id="employeeAnalysis" resultMap="employeeMap">
        select * from t_employee
        <where>
            <if test="employeeAnalysisQuery.name!=null and employeeAnalysisQuery.name!=''">
                and name like concat('',#{employeeAnalysisQuery.name},'')
            </if>

        </where>
    </select>

    <select id="employeeSeniority" resultType="baseline.app.pojo.dto.reportform.EmployeeSeniorityDto">
        SELECT
        working_hours AS seniority, COUNT(1) AS num
        FROM
        (SELECT
        emp.*
        FROM
        t_employee emp
        LEFT JOIN t_project pro ON emp.project_id = pro.project_id
        LEFT JOIN t_region reg ON reg.region_id = pro.region_id
        left join t_department dept on dept.department_id = pro.department_id
        <where>
            <if test="param.regionName!=null and param.regionName!=''">
                and reg.region_name = #{param.regionName}
            </if>
            <if test="param.departmentName!=null and param.departmentName!=''">
                and dept.department = #{param.departmentName}
            </if>
        </where>
        ) temp
        WHERE
        temp.working_hours IS NOT NULL
        GROUP BY temp.working_hours;
    </select>

    <select id="employeeAge" resultType="baseline.app.pojo.dto.reportform.EmployeeAgeDto">
        SELECT
        birthdayYear, COUNT(1) AS num
        FROM
        (SELECT
        year(emp.birthday) as birthdayYear
        FROM
        t_employee emp
        LEFT JOIN t_project pro ON emp.project_id = pro.project_id
        LEFT JOIN t_region reg ON reg.region_id = pro.region_id
        left join t_department dept on dept.department_id = pro.department_id
        <where>
            <if test="param.regionName!=null and param.regionName!=''">
                and reg.region_name = #{param.regionName}
            </if>
            <if test="param.departmentName!=null and param.departmentName!=''">
                and dept.department = #{param.departmentName}
            </if>
        </where>
        ) temp
        WHERE
        temp.birthdayYear IS NOT NULL
        GROUP BY temp.birthdayYear;
    </select>

    <select id="employeeCustomer" resultType="baseline.app.pojo.dto.reportform.EmployeeCustomerDto">
        SELECT
        customer_name AS customerName, COUNT(1) AS employeeNum
        FROM
        (SELECT
        cust.customer_id,
        cust.customer_name,
        emp.name,
        emp.job_no
        FROM
        t_employee emp
        LEFT JOIN t_project pro ON emp.project_id = pro.project_id
        LEFT JOIN t_region reg ON reg.region_id = pro.region_id
        left join t_customer cust on cust.region_id = reg.region_id
        <where>
            <if test="param.regionName!=null and param.regionName!=''">
                and cust.customer_name = #{param.customerame}
            </if>
            <if test="param.regionName!=null and param.regionName!=''">
                and reg.region_name = #{param.regionName}
            </if>
        </where>
        ) temp
        WHERE
        temp.customer_name IS NOT NULL
        GROUP BY temp.customer_name;
    </select>

</mapper>
