<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="baseline.sysmgmt.mapper.UserMapper">


    <select id="queryRole">
        select
            user.username as userName,
            user.id as userId,
            role.name_zh as roleName,
            role.id as roleId
        FROM
            user,
            user_role,
            role
        WHERE
            user.id = user_role.user_id
                AND role.id = user_role.role_id
                and user.id = '1';
    </select>
</mapper>
