<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="baseline.sysmgmt.mapper.UserMapper">

    <update id="updatePasswordById">
        update t_user
        set password = #{password,jdbcType=VARCHAR}
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="resetPassword">
        update t_user set password = #{password}
        where id = #{userId}
    </update>
    <select id="manualPage" resultType="baseline.sysmgmt.pojo.vo.UserVo">
        SELECT
        user.*
        FROM
        t_user user,
        t_role role,
        t_user_role userRole
        <where>
            user.id = userRole.user_id
            AND role.id = userRole.role_id
            <if test="username!=null and username!=''">
                and user.username like #{username}
            </if>
            <if test="userPhone!=null and userPhone!=''">
                and user.user_phone like #{userPhone}
            </if>
            <if test="enabled!=null and enabled!=''">
                and user.enabled =#{enabled}
            </if>
            <if test="roleName!=null and roleName!=''">
                and role.name =#{roleName}
            </if>
        </where>


    </select>
</mapper>
