<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="baseline.sysmgmt.mapper.UserMapper">

    <update id="updatePasswordById">
        update t_user
        set password = #{password,jdbcType=VARCHAR}
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="resetPassword">
        update t_user
        set password = #{password}
        where id = #{userId}
    </update>
    <select id="manualPage" resultType="baseline.sysmgmt.pojo.vo.UserVo">
        SELECT
        user.*
        FROM
        t_user user,
        t_role role,
        t_user_role userRole
        <where>
            user.id = userRole.user_id
            AND role.id = userRole.role_id
            <if test="param.username!=null and param.username!=''">
                and user.username like concat("%",#{param.username},"%")
            </if>
            <if test="param.userPhone!=null and param.userPhone!=''">
                and user.user_phone like concat("%",#{param.userPhone},"%")
            </if>
            <if test="param.enabled!=null">
                and user.enabled =#{param.enabled}
            </if>
            <if test="param.roleName!=null and param.roleName!=''">
                and role.name =#{param.roleName}
            </if>
        </where>
            order by user.update_time desc


    </select>
</mapper>
